{% extends 'base.html' %}
{% load static %}

{% block content %}



    <div class="tm-main-section light-gray-bg">
      <div class="container" id="main">

        <section class="tm-section row">

           <form action="{% url 'searching' %}" method="get">
        <input type="text" placeholder="Search.." class="form-control" class="tm-more-button tm-more-button-welcome" name="q">
            </form>


          <div class="col-lg-12 tm-section-header-container margin-bottom-30">
            <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="{% static 'img/logo.png' %}" alt="Logo" class="tm-site-logo">SEARCH</h2>
            <div class="tm-hr-container"><hr class="tm-hr"></div>
          </div>

          <div>



            <div class="tm-menu-product-content col-lg-9 col-md-9"> <!-- menu content -->
                {% for p in pr %}
              <div class="tm-product">
                <img src="{{p.pimg.url}}" height="150px" width="150px" alt="Product">
                <div class="tm-product-text">

                  <h3 class="tm-product-title"><a href={{p.get_url}}>{{p.pname}}</a></h3>
                  <p class="tm-product-description">{{p.pdes|truncatewords:20}}</p>
                </div>
                <div class="tm-product-price">
                  <a href="#" class="tm-product-price-link tm-handwriting-font">{{p.pprice}}</a>
                </div>

              </div>
                {% endfor %}
            </div>

          </div>

        </section>

      </div>
    </div>
{% endblock %}