{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="bg-success py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-8 text-white">
                    <h1>LOGGED OUT</h1>





                                <p>YOU HAVE BEEN LOGGED OUT </p>

  <p class="text-center"><a href="{% url 'home' %}" class="tm-more-button">DONE</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- End Section -->



  {% endblock %}