
{% extends 'base.html' %}
{% block content %}


  <div class="container-fluid bg-light py-5">
        <div class="col-md-6 m-auto text-center">
            {% if validlink %}
            <h1 class="h1">CHANGE PASSWORD</h1>
     <div class="container py-5">
        <div class="row py-5">
            <form class="col-md-9 m-auto" method="post" role="form">
                <div class="row">

      {% csrf_token %}
      {{ form.as_p }}
      <div class="row">
                    <div class="col text-end mt-2">
                        <button type="submit" class="btn btn-success btn-lg px-3">CHANGE</button>
                    </div>
                </div>
                </div>
            </form>
           {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
        </div>
    </div>


</div>
  </div>



{% endblock %}