{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="bg-success py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-8 text-white">
                    <h1>Your password has been set. You may go ahead and LOGIN AGAIN</h1>
   <p class="text-center"><a href="{% url 'login' %}" class="btn btn-warning">LOGIN</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- End Section -->



  {% endblock %}