{% extends 'base.html' %}
{% block content %}


  <div class="container-fluid bg-light py-5">
        <div class="col-md-6 m-auto text-center">
            <h1 class="h1">FORGET PASSWORD</h1>
            <p>

            </p>
        </div>
    </div>

     <div class="container py-5">
        <div class="row py-5">
            <form class="col-md-9 m-auto" method="post" role="form">
                <div class="row">
    {% csrf_token %}
    {{ form.as_p }}
     <div class="row">
                    <div class="col text-end mt-2">
                        <button type="submit" class="btn btn-success">DONE</button>
                    </div>
                </div>
                </div>
            </form>
        </div>
    </div>




              {% endblock %}